$gray: #eee;
$dark: #263238;
$light: #fff;

vizit-logo {
    img {
        margin: 10px;
    }
}

#toolbar {
    position: fixed;
    height: 40px !important;
    top: 80px;
    left: 0;
    z-index: 9;
    .tools {
        color: $dark;
        border: solid 2px $dark;
    }
}

#error {
    color: red;
    font-weight: bold;
    margin-bottom: 10px;
}

.ace_editor {
    height: calc(100vh - 200px);
    width: 50vw;
    font-size: 18px !important;
    font-family: 'Ubuntu Mono' !important;
}
md-progress-linear {
    // width: 50vw;
}

md-content.md-default-theme {
    background-color: $gray;
}

md-card {
    background-color: $light;
    h2:first-of-type {
        margin-top: 0;
    }
}

md-toolbar {
    .md-button.md-default-theme {
        border-radius: 99%; // round toolbar buttons
    }
    .tools {
        background-color: white;
    }
    .active {
        background-color: #37474F;
        color: white !important;
        &:hover {
            background-color: #2A353A !important;
        }
    }
    .md-toolbar-tools {
        .tools {
            border: none !important;
            width: 150px;
        }
    }
}

h2 {
    font-weight: 400;
}

.md-toolbar-tools-bottom {
    font-size: small;
    &:last-child {
        opacity: 0.8;
    }
}

md-toolbar:not(.md-hue-1),
.md-fab {
    fill: $light;
}

md-sidenav {
    fill: $dark;
    ng-md-icon {
        position: relative;
        top: 5px; // adjust for svg viewbox
    }
}

.user-avatar {
    border-radius: 99%;
}

#gutterTD {
    padding: 0;
}
