$gray: #eee;
$dark: #263238;
$light: #fff;
vizit-logo {
    img {
        margin: 0px;
        margin-left: -10px;
    }
}

#toolbar {
    position: relative;
    background-color: #fff !important;
    height: 20px !important;
    top: 0;
    left: 0;
    z-index: 8;
    .tools {
        color: $dark;
        border: solid 2px $dark;
        height: 10px !important;
    }
}

.button-container {
    z-index: 1;
    margin-top: 10px;
    padding-left: 13px;
    width: 100%;
    .tools {
        margin: 50px 5px 2px 5px;
        min-height: 25px !important;
        border: #E2E2E2 solid 2px;
        width: 120px;
        padding: 2px;
        line-height: 0px;
    }
}

md-progress-linear {
    margin-top: 47px;
    position: fixed;
    z-index: 1;
}

.visualize {
    margin-top: 80px;
    letter-spacing: 0.1em;
}

#visualize {
    -webkit-animation: fadein .3s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein .3s;
    /* Firefox < 16 */
    -ms-animation: fadein .3s;
    /* Internet Explorer */
    -o-animation: fadein .3s;
    /* Opera < 12.1 */
    animation: fadein .3s;
}

#error {
    color: red;
    font-weight: bold;
    margin-bottom: 10px;
    .glyphicon {
        // font-weight: 4000;
        width: 20px;
    }
}

.ace_editor {
    height: calc(100vh - 165px);
    width: 70vw;
    font-size: 18px !important;
    font-family: 'Ubuntu Mono' !important;
    .ace_print-margin {
        //removes vertical split line
        display: none;
    }
}

.runtimeAce {
    width: 45vw;
}

.dualAce {
    height: calc(60vh - 200px);
    margin-bottom: 10px;
    width: 45vw;
}

.examples {
    overflow: scroll;
    height: calc(100vh - 165px);
    h4 {
        margin-left: 22vw;
        padding: 30px, 0, 0, 30px;
    }
    div {
        padding-left: 50px;
    }
    p {
        margin-left: 22vw;
        padding: 6px 0;
        text-decoration: underline;
    }
    p:focus {
        outline: 0;
    }
}

md-content.md-default-theme {
    background-color: $gray;
}

md-card {
    background-color: $light;
    h2:first-of-type {
        margin-top: 0;
    }
}

md-toolbar {
    .md-button.md-default-theme {
        border-radius: 99%; // round toolbar buttons
    }
    .tools {
        background-color: white;
        height: 40px !important;
    }
    .active {
        background-color: #37474F;
        color: white !important;
        &:hover {
            background-color: #2A353A !important;
        }
    }
    .md-toolbar-tools {
        .tools {
            border: none !important;
            width: 150px;
        }
    }
}

h2 {
    font-weight: 400;
}

.md-toolbar-tools-bottom {
    font-size: small;
    &:last-child {
        opacity: 0.8;
    }
}

md-toolbar:not(.md-hue-1),
.md-fab {
    fill: $light;
}

.user-avatar {
    border-radius: 99%;
}

#gutterTD {
    padding: 0;
}
