$gray: #eee;
$shadow: #CECECE;
$dark: #263238;
$light: #fff;
vizit-logo {
    img {
        margin: 0px;
        margin-left: -10px;
    }
}

#toolbar {
    position: relative;
    background-color: #fff !important;
    height: 20px !important;
    top: 0;
    left: 0;
    z-index: 8;
    .tools {
        color: $dark;
        border: solid 2px $dark;
        height: 10px !important;
    }
}

.button-container {
    z-index: 1;
    margin-top: 10px;
    padding-left: 13px;
    width: 100%;
    .tools {
        margin: 50px 5px 2px 5px;
        min-height: 25px !important;
        background-color: #E8E8E8;
        box-shadow: 1px 1px 1px $shadow;
        width: 200px;
        padding: 2px;
        line-height: .5px;
        &:hover {
            transform: translate(1px, 1px);
            box-shadow: 0 0 0 gray;
            background-color: #E8E8E8;
        }
    }
    .viz, .save {
        left: calc(70vw - 175px);
        top: calc(100vh - 210px);
        width: 150px;
        z-index: 1;
        line-height: 3;
    }
    .save {
        left: calc(70vw - 510px);
    }
    // on the runtime page
    .run {
        width: 150px;
        line-height: 3;
        margin: 0;
        padding-left: 0;
    }
}


md-progress-linear {
    margin-top: 50px;
    position: fixed;
    z-index: 3;
    box-shadow: 0 1px 1px $shadow;
}

.visualize {
    margin-top: 60px;
    letter-spacing: 0.1em;
}

#visualize {
    -webkit-animation: fadein .3s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein .3s;
    /* Firefox < 16 */
    -ms-animation: fadein .3s;
    /* Internet Explorer */
    -o-animation: fadein .3s;
    /* Opera < 12.1 */
    animation: fadein .3s;
}

#error {
    color: red;
    font-weight: bold;
    margin-bottom: 0px;
    .glyphicon {
        width: 20px;
    }
}

.ace_editor {
    height: calc(100vh - 160px);
    width: 70vw;
    font-size: 18px !important;
    font-family: 'Ubuntu Mono' !important;
    box-shadow: 3px 3px 10px $shadow;
    .ace_print-margin {
        //removes vertical split line
        display: none;
    }
    .ace-layer {
        z-index: 0;
    }
}

.runtimeAce {
    width: 45vw;
}

.dualAce {
    height: calc(((100vh - 170px)/2));
    margin-bottom: 10px;
    width: 45vw;
}

.examples {
    z-index: 1;
    background-color: #F4F4F4;
    overflow: scroll;
    height: calc(100vh - 160px);
    box-shadow: 3px 3px 10px $shadow;
    h4 {
        margin: 20px 0 10px 40px;
    }
    p {
        margin: 10px 40px;
        width: 23vw;
        padding: 6px 0;
        transition: all 0.2s ease;
        border-left: solid 0px $yellow;
        &:hover {
            border-left: solid 6px $yellow;
            padding-left: 5px;
        }
    }
    p:focus {
        outline: 0;
    }
}

md-content.md-default-theme {
    background-color: $gray;
}

md-card {
    background-color: $light;
    h2:first-of-type {
        margin-top: 0;
    }
}

md-toolbar {
    .md-button.md-default-theme {
        border-radius: 99%; // round toolbar buttons
    }
    .tools {
        background-color: white;
        height: 40px !important;
    }
    .active {
        background-color: #37474F;
        color: white !important;
        &:hover {
            background-color: #2A353A !important;
        }
    }
    .md-toolbar-tools {
        .tools {
            border: none !important;
            width: 150px;
        }
    }
}

h2 {
    font-weight: 400;
}

.md-toolbar-tools-bottom {
    font-size: small;
    &:last-child {
        opacity: 0.8;
    }
}

md-toolbar:not(.md-hue-1),
.md-fab {
    fill: $light;
}

.user-avatar {
    border-radius: 99%;
}

#gutterTD {
    padding: 0;
}
