$gray: #eee;
$dark: #263238;
$light: #fff;
$yellow: #F9ED10;
$bluegray: #CFD8DC;

tools {
  .center {
    text-align: center;
  }
  .padding-top {
    padding-top:  20px;
  }
  .active {
    color: $dark !important;
    border-bottom: solid 3px $yellow;
  }
  #left {
    min-height: 80px;
    color: $dark;
    background-color: $bluegray;
  },

  #right {
    min-height: 80px;
    color: $dark;
    background-color: $gray;
  }
}
