$gray: #DDDDDD;
$dark: #263238;
$light: #fff;
$yellow: #F9ED10;
$darkGray: #CECECE;
// $bluegray: #CFD8DC;
tools {
    .pointer {
        cursor: pointer;
    }
    .center {
        text-align: center;
    }
    .padding-top {
        padding-top: 5px;
    }
    #left {
        border-right: 2px solid $darkGray;
    }
    #left,
    #right {
        box-shadow: 0 2px 3px #CCCCCC;
        min-height: 40px;
        color: $dark;
        background-color: $gray;
        transition: all .2s ease-in-out;
        &:hover {
            box-shadow: 0 0px 0px gray;
        }
    }
    .active {
        color: $dark !important;
        border-top: solid 6px $yellow;
        background-color: #E8E8E8 !important;
    }
}
