$darkBlueBackground: #002B36;
$vcrControlBlue: #073D49;
$gutterBlue: #01313F;
$codeOutputTextGrey: #93A1A1;
#pyCodeOutputDiv {
    overflow-x: scroll;
    overflow-y: scroll;
    min-width: calc(40vw - 44px);
    height: 100%;
    max-height: calc(100vh - 370px);
    background-color: $darkBlueBackground;
    margin-bottom: 15px;
    table td,
    table th {
        background-color: $darkBlueBackground;
        color: $codeOutputTextGrey;
        width: auto;
    }
    #pyCodeOutput {
        max-width: 40vw;
        overflow: auto;
        #gutterTD {
            padding-left: 10px;
        }
        tr:last-child td {
            padding-bottom: 10px;
        }
    }
    .lineNo {
        padding-right: 10px;
        text-align: right;
        color: white;
        background-color: $gutterBlue;
        width: 40px;
        word-break: keep-all;
    }
    #gutterTD {
        background-color: $gutterBlue;
        width: 50px;
    }
}

textarea {
    width: 100%;
    resize: vertical;
    outline: none;
    font: 14px/normal 'Ubuntu Mono', monospace !important;
    color: black;
    background-color: white;
    border: none;
}

#help {
    p {
        font-size: 10pt;
    }
}

#pyOutputPane {
    padding: 0;
    font: 14px/normal 'Ubuntu Mono', monospace;
}

.vizLayoutTd {
    display: flex;
    #placeholder {
        width: 40vw;
        height: 80vh;
        margin: 20px 0px;
    }
    #codeDisplayDiv {
        max-width: 40vw;
        min-width: 40vw;
        background-color: #F5F5F5;
        border-radius: 1%;
        position: fixed;
        margin-top: 20px;
        padding: 20px;
        box-shadow: 3px 3px 3px #CECECE;
        #errorOutput {
            color: red;
        }
        #progOutputs {
            margin-top: 20px;
            p {
                margin: 5px;
            }
        }
    }
    #dataVizOuter {
        margin-left: 10px;
        #dataViz {
            text-align: center;
            margin: 20px 20px;
            max-height: calc(100vh - 200px);
            max-height: -o-calc(100vh - 200px);
            /* opera */
            max-height: -webkit-calc(100vh - 200px);
            /* google, safari */
            max-height: -moz-calc(100vh - 200px);
            /* firefox */
        }
    }
}

#vcrControls {
    text-align: center;
    padding: 10px;
    background-color: $vcrControlBlue;
    font-weight: bold;
    font-size: 12pt;
    color: white;
    button {
        border: none;
        border-radius: 5%;
        box-shadow: 1px 1px 1px gray;
        transition: all 0.2s ease;
        &:focus {
            outline: none;
        }
        &:hover {
            box-shadow: 0px 0px 0px gray;
            transform: translate(1px, 1px);
        }
    }
    .glyphicon {
        font-size: 10pt;
        color: white;
    }
    span {
        padding: 5px;
    }
    #curInstr {
        display: inline-block;
        min-width: 200px;
    }
}

table td,
table th {
    padding: 2px 10px;
}

table {
    border-collapse: collapse;
    text-align: left;
}
