#stackHeapTable {
    font-size: 12pt;
    margin-bottom: 15px;
    #stackHeader,
    #heapHeader {
        text-align: center;
    }
    .stackFrame,
    .heapRow,
    .heapObject {
        margin-top: 20px;
        overflow-x: scroll;
        overflow-y: scroll;
        width: 250px;
        max-height: 200px;
        .funcCode {
            color: white;
            border: none;
        background-color: #002B36;
        }
        .stackFrameHeader {
            padding: 10px;
        }
        ._jsPlumb_endpoint {
            -webkit-transition: none !important;
            -moz-transition: none !important;
            -o-transition: none !important;
            -ms-transition: none !important;
            transition: none !important;
        }
    }
    #stack_td {
        padding-right: 30px;
        .stackFrame {
            .stackFrameHeader {
                background-color: #F5F5F5;
            }
        }
        .highlightedStackFrame {
            .stackFrameHeader {
                background-color: #F9ED10;
            }
            .stackFrameVarTable {
                background-color: white;
                border-color: gray;
                border: 2px;
            }
        }
        td {
            color: #00496B;
            border-left: 2px solid #eee;
            // font-size: 16px;
            border-bottom: 2px solid #eee;
            font-weight: normal;
        }
    }
    #heap_td {
        padding-left: 30px;
    }
    #stackheader {
        background-color: red;
    }
    td {
        // padding: 10px 20px 10px 20px;
    }
}
