#stackHeapTable {
    #stackHeader,
    #heapHeader {
        text-align: center;
    }
    .stackFrame,
    .heapRow,
    .heapObject {
        margin-top: 20px;
        overflow-x: scroll;
        overflow-y: scroll;
        width: 250px;
        max-height: 100%;
        .stackFrameHeader {
            padding: 10px;
        }
        .stackframe {
        @-webkit-keyframes fadeIn {
            from {
                opacity: 0;
                opacity: 1\9;
                /* IE9 only */
            }
            to {
                opacity: 1;
            }
        }
        @-moz-keyframes fadeIn {
            from {
                opacity: 0;
                opacity: 1\9;
                /* IE9 only */
            }
            to {
                opacity: 1;
            }
        }
        @keyframes fadeIn {
            from {
                opacity: 0;
                opacity: 1\9;
                /* IE9 only */
            }
            to {
                opacity: 1;
            }
        }

        opacity: 0;
        /* make things invisible upon start */
        -webkit-animation: fadeIn ease-in 1;
        /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
        -moz-animation: fadeIn ease-in 1;
        animation: fadeIn ease-in 1;
        -webkit-animation-fill-mode: forwards;
        /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
        -moz-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        -webkit-animation-duration: .3s;
        -moz-animation-duration: .3s;
        animation-duration: .3s;
        }
        ._jsPlumb_endpoint {
            -webkit-transition: none !important;
            -moz-transition: none !important;
            -o-transition: none !important;
            -ms-transition: none !important;
            transition: none !important;
        }
        .heapObject {
        	max-height: 200px;
        }
    }
    #stack_td {
        padding-right: 30px;
        .stackFrame {
            .stackFrameHeader {
                background-color: #F5F5F5;
            }
        }
        .highlightedStackFrame {
            .stackFrameHeader {
                background-color: #F9ED10;
            }
            .stackFrameVarTable {
                background-color: white;
                border-color: gray;
                border: 2px;
            }
        }
        td {
            color: #00496B;
            border-left: 2px solid #eee;
            font-size: 16px;
            border-bottom: 2px solid #eee;
            font-weight: normal;
        }
    }
    #heap_td {
        padding-left: 30px;
    }
    #stackheader {
        background-color: red;
    }
    td {
        padding: 10px 20px 10px 20px;
    }
}
