$greyBackground: #F5F5F5;
$textBlueColor: #00496B;
$yellowBackgroundColor: #F9ED10;
$darkBlueBackgroundColor: #002B36;

circle {
    display: none;
}

#stackHeapTable {
    font-size: 9pt;
    margin-bottom: 15px;
    font-weight: bold;
    .stackFrameVar,
    .instKey {
        text-align: right;
        background-color: $greyBackground;
    }
    #stackHeader,
    #heapHeader {
        text-align: center;
        font-weight: bold;
        font-size: 12pt;
    }
    .stackFrame,
    .heapObject {
        margin: 0px !important;
        table {
            margin-bottom: 20px;
        }
        td {
            color: $textBlueColor;
            border: 1px solid #eee;
        }
        .funcCod,
        .funcCode {
            color: #93A1A1;
            border: none;
            background-color: $darkBlueBackgroundColor;
            font-size: 7pt;
            font-weight: normal;
        }
        .stackFrameHeader {
            padding: 10px;
        }
    }
    #stack_td {
        padding-right: 30px;
        .stackFrame {
            table {
                width: 100%;
                min-width: 150px;
            }
            .stackFrameHeader {
                background-color: $greyBackground;
            }
        }
        .highlightedStackFrame {
            .stackFrameHeader {
                background-color: $yellowBackgroundColor;
            }
            .stackFrameVarTable {
                background-color: white;
                border-color: gray;
                border: 2px;
            }
        }
        td {
            color: $textBlueColor;
            border-left: 2px solid #eee;
        }
    }
    #heap_td {
        padding-left: 30px;
        table {
            margin-bottom: 15px;
        }
        .classTbl {
            table {
                margin: 0;
            }
        }
    }
}
