<div id="navbar">

  <md-toolbar class="{{color}}" ng-controller="NavCtrl" ng-style="{'height': height, 'transition': 'height 0.15s', 'transition-timing-function': 'linear'}">

    <div class="md-toolbar-tools" layout="row" layout-margin layout-align="center">

      <div flex>
        <div id="logo">
          <a ui-sref="home">
          <vizit-logo></vizit-logo>
          </a>
        </div>
      </div>

      <div flex layout-align="center center" hide-xs>
          <h2 ng-style="{'text-align': 'center'}">{{currentState() | titlecase}}</h2>
      </div>

      <!--  No user -->
      <div flex layout="row" layout-margin layout-align="end center" ng-show="!user">
          <md-button ng-click="showSignUp()">Login</md-button>
          <md-button ng-click="showSignUp()">Signup</md-button>
          <ng-md-icon icon="more_vert" ng-click="showBottomSheet($event)" aria-label="Open Settings"></ng-md-icon>
      </div>

      <!-- Active user -->
      <div flex layout="row" layout-margin layout-align="end center" ng-show="user">
        <md-list>
          <md-list-item layout-padding>
            <h3>{{user.email}}</h3>
            <img ng-src="{{user.photo}}" class="md-avatar" />
            <ng-md-icon icon="keyboard_arrow_down" size="14" aria-label="User Menu" ng-style="{'margin-left': '-20px'}" ng-click="logout()"></ng-md-icon>
          </md-list-item>
        </md-list>
        <ng-md-icon icon="more_vert" ng-click="showBottomSheet($event)" aria-label="Open Settings"></ng-md-icon>
      </div>

    </div>

  </md-toolbar>
</div>
