<div id="navbar">
    <md-toolbar class="md-hue-2" ng-controller="NavCtrl" ng-style="{'height': height}">
        <div class="md-toolbar-tools" layout="row" layout-margin layout-align="center">
            <div flex hide-xs>
                <div id="logo">
                    <a ui-sref="home">
                        <vizit-logo></vizit-logo>
                    </a>
                </div>
            </div>
            <!--  No user -->
            <div flex layout="row" layout-margin layout-align="end center" ng-show="!user">
                <md-button id="login" ui-sref="about">About</md-button>
                <md-button id="login" ng-click="showLogin()">Login</md-button>
                <md-button id="signup" ng-click="showSignUp()">Signup</md-button>
            </div>
            <!-- Active user -->
            <div flex layout="row" layout-margin layout-align="end center" ng-show="user">
                <md-list layout-padding>
                    <md-list-item layout-padding>
                        <a class="unstyled" ui-sref="sessions"><h3 hide-xs>{{user.fullName? user.fullName : user.email}}</h3></a>
                        <a class="unstyled" ui-sref="sessions"><img ng-src="{{user.photo ? user.photo : user.gravatar}}" class="md-avatar" /></a>
                    </md-list-item>
                </md-list>
                <div id="usernav" layout="row" layout-align="center center">
                    <ng-md-icon icon="{{icon}}" size="32" ng-click="clickIconMorph(); showUserMenu()" aria-label="Open Menu"></ng-md-icon>
                </div>
            </div>
        </div>
    </md-toolbar>
</div>
