<div id="signup">
<md-dialog aria-label="Signup">
<md-toolbar class="md-tall md-hue-2" layout-align="center center">
<!-- <h2>Login</h2> -->
  <div id="signLogo">
    <vizit-logo></vizit-logo>
  </div>
</md-toolbar>
<md-content class="md-padding">
<form name="loginForm">

    <md-input-container class="md-block">
    <label>Full Name</label>
    <input ng-model="login.fullName"> </md-input-container>

    <md-input-container class="md-block">
    <label>Email Address</label>
    <input ng-model="login.email">
    </md-input-container>

    <md-input-container class="md-block">
    <label>Password</label>
    <input type="password" ng-model="login.password">
    </md-input-container>

</form>

</md-content>

  <md-button ng-click="sendLogin(login)" class="md-hue-3">
    <md-item>
      <md-item-content md-ink-ripple layout="row" layout-align="left center">
        <div class="inset"><ng-md-icon icon="login" style="fill: #fafafa"></ng-md-icon></div>
        <div class="inset">Login</div>
      </md-item-content>
    </md-item>
  </md-button>
  <md-button ng-click="sendLoginGitHub(login)" class="md-hue-3">
    <md-item>
      <md-item-content md-ink-ripple layout="row" layout-align="left center">
        <div class="inset"><ng-md-icon icon="github-box" style="fill: #fafafa"></ng-md-icon></div>
        <div class="inset">Login with Github</div>
      </md-item-content>
    </md-item>
  </md-button>
  <md-button ng-click="sendLoginGoogle(login)" class="md-hue-3">
    <md-item>
      <md-item-content md-ink-ripple layout="row" layout-align="left center">
        <div class="inset"><ng-md-icon icon="google-plus-box" style="fill: #fafafa"></ng-md-icon></div>
        <div class="inset">Login with Google</div>
      </md-item-content>
    </md-item>
  </md-button>


</md-dialog>
</div>
