<section ng-if="user" style="max-width: 1080px; margin: auto; padding: 20px;">
   <code>{{user}}</code><br/>
   <code>{{update}}</code><br/>
   <code>{{pass}}</code>

   <uib-accordion id="settings" close-others="oneAtATime">
      <uib-accordion-group heading="My Account" is-open="open">
         <md-content id="account" layout-padding>
            <div layout="row" layout-xs="column">
               <div flex>
                  <div class="upload" ng-class="{'img-back': user.photo, 'gray-back': !user.photo}">

                  </div>
               </div>
               <div flex>
                  <form name="userInfo" ng-submit="userInfo.$dirty && userInfo.$valid && update.email === update.emailDuplicate && updateUser(update)" novalidate>
                     <md-input-container class="md-block">
                        <label>{{user.fullName ? 'Change' : 'Add'}} Name</label>
                        <input type="text" name="fullName" ng-model="update.fullName">
                     </md-input-container>
                     <md-input-container class="md-block">
                        <label>New Email Address</label>
                        <input type="email" name="email" ng-model="update.email" ng-pattern="/^[\w\.]*\@\w*\.\w{2,}$/">
                        <div ng-messages="userInfo.email.$touched && userInfo.email.$error">
                           <div ng-message="pattern">This is an invalid email.</div>
                        </div>
                     </md-input-container>
                     <md-input-container class="md-block">
                        <label>Confirm Email Address</label>
                        <input type="email" name="emailDuplicate" ng-model="update.emailDuplicate" ng-pattern="{{update.email}}">
                        <div ng-messages="userInfo.emailDuplicate.$touched && userInfo.emailDuplicate.$error">
                           <div ng-message="pattern">These emails do not match.</div>
                        </div>
                     </md-input-container>
                     <md-button class="md-raised md-primary" type="submit" ng-disabled="userInfo.$pristine || userInfo.$invalid || update.email !== update.emailDuplicate || !update.fullName && !update.email && !update.emailDuplicate">Submit</md-button>
                  </form>
               </div>
            </div>
         </md-content>
      </uib-accordion-group>
      <uib-accordion-group heading="Change Password">
         <md-content id="password" layout-padding>
            <form name="passwordInfo" ng-submit="pass.oldPassword && pass.newPassword === pass.newPasswordDuplicate && pass.oldPassword !== pass.newPassword && updatePassword(pass)" novalidate>
               <md-input-container class="md-block">
                  <label>Old Password</label>
                  <input type="text" name="oldPassword" ng-model="pass.oldPassword">
               </md-input-container>
               <md-input-container class="md-block">
                  <label>New Password</label>
                  <input type="text" name="newPassword" ng-model="pass.newPassword" ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)\w{8,}$/">
                  <div ng-messages="passwordInfo.newPassword.$touched && passwordInfo.newPassword.$error">
                     <div ng-message="pattern">Must contain one lower & uppercase letter, and one number.</div>
                  </div>
               </md-input-container>
               <md-input-container class="md-block">
                  <label>Retype New Password</label>
                  <input type="text" name="newPasswordDuplicate" ng-model="pass.newPasswordDuplicate">
               </md-input-container>
               <md-button class="md-raised md-primary" type="submit" ng-disabled="!pass.oldPassword || pass.newPassword !== pass.newPasswordDuplicate || !(pass.oldPassword && pass.newPassword && pass.newPasswordDuplicate) || pass.oldPassword === pass.newPassword">Submit</md-button>
            </form>
         </md-content>
      </uib-accordion-group>
      <uib-accordion-group id="connect" heading="Connect Accounts">
         <div layout="row" layout-xs="column">
            <div flex>
               <h4>Google</h4>
               <md-button class="md-raised md-primary" type="button" ng-if="user.google" ng-click="disconnect('google')">Disconnect Google</md-button>
               <md-button class="md-raised md-primary" type="button" ng-if="!user.google"><a href="/auth/google?returnTo=/settings" class="unstyled">Connect Google</a></md-button>
            </div>
            <div flex>
               <h4>Facebook</h4>
               <md-button class="md-raised md-primary" type="button" ng-if="user.facebook" ng-click="disconnect('facebook')">Disconnect Facebook</md-button>
               <md-button class="md-raised md-primary" type="button" ng-if="!user.facebook"><a href="/auth/facebook?returnTo=/settings" class="unstyled">Connect Facebook</a></md-button>
            </div>
         </div>
      </uib-accordion-group>
   </uib-accordion>
</section>