$gray: #eee;
$dark: #263238;
$light: #fff;
$yellow: #F9ED10;
$bluegray: #CFD8DC;

#navbar {
    width:100%;
    height: 50px;
    position: fixed;
    z-index: 9;
    transform: translateZ(0);
   -webkit-transform: translateZ(0);
   -webkit-transition:0.5s linear all;
   -moz-transition:0.5s linear all;
   -o-transition:0.5s linear all;
   transition:0.5s linear all;
  .md-button {
    text-transform: none;
    font-size: 1em;
    letter-spacing: 0.1em;
  }
  md-toolbar{
    min-height: 50px;
    padding: 0;
  }
  .md-toolbar-tools {
    margin: 0;
    font-size: 14px;
    padding: 0;
  }
  h2 {
    margin: 0;
    padding: 0;
  }
  .center {
    text-align: center;
    margin: auto;
  }
}

#usernav {
  // border-left: solid 2px $bluegray;
  // background-color: $bluegray;
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
  width: 50px;
  margin: 0;
}
.dark {
   background-color: #263238;
}

#userNavModal{
  position: absolute;
  top: 50px;
  right: 0;
  md-item-content {
    &:focus {
    outline: none;
    }
  }
  md-dialog {
  min-width: 200px !important;
  width: 200px;
  border-radius: 0;
  background-color: #263238;
     .inset {
     color: #fafafa;
     font-size: 1.1em;
     // letter-spacing: 0.1em;
     text-transform: none;
   }
   .md-button {
     margin: 0 0;
     width: 100%;
   }
  }
}



// ng-animate between states

main {
    /* start 'enter' transition */
    &.ng-enter {
        /* transition on enter for 5s */
        transition: 5s;

        /* start with opacity 0 (invisible) */
        opacity: 0;
    }

    /* end 'enter' transition */
    &.ng-enter-active {
        /* end with opacity 1 (fade in) */
        opacity: 1;
    }
}

#logo {
  position: absolute;
  top: 0px;
  box-sizing: border-box;
}

.userModal {
  md-dialog {
    min-width: 400px !important;
    width: 400px;
    border-radius: 0;
  }
  .md-button {
    border-radius: 0;
    background-color: #263238;
    color: #fafafa;
    &:hover {
      background-color: #263238 !important;
    }
  }
}

#signLogo {
  position: absolute;
  left: 50%;
  margin-left: -80px;
}

ng-md-icon {
  outline: none;
}

body, h1, h2, h3, h4, h5 {
  font-family: 'Roboto', sans-serif;
  // letter-spacing: 0.1em;
  .dark-text {
    color: $dark;
  }
  .text-left {
    text-align: left;
  }
}

h2 {
  font-size: 1.5em !important;
  font-weight: 700;
  padding-bottom: 5px;
}

.dropdown-menu {
  left: -75px;
  top: 55px;
}

// for the tools: Visualize and Analyze
.fixed {
  position: fixed;
  width: 100%;
  z-index: 2;
}
