<div class="userModal">
<md-dialog aria-label="Signup">
<md-toolbar class="md-tall md-hue-2" layout-align="center center">
<h2>Login</h2>
</md-toolbar>
<md-content id="loginForm" class="md-padding">
<form name="loginForm" ng-submit="loginForm.$valid && sendLogin(login)" novalidate>

    <md-input-container class="md-block">
    <label>Email Address</label>
    <input type="email" ng-model="login.email" required>
    </md-input-container>

    <md-input-container class="md-block">
    <label>Password</label>
    <input type="password" ng-model="login.password" required>
    </md-input-container>

    <p style="color: #D51300">{{error}}</p>
    <button style="display: none" ng-click="sendLogin(login)"></button>
</form>

</md-content>

  <md-button ng-click="sendLogin(login)" class="md-hue-3">
    <md-item>
      <md-item-content md-ink-ripple layout="row" layout-align="left center">
        <div class="inset"><ng-md-icon icon="login" style="fill: #fafafa"></ng-md-icon></div>
        <div class="inset">Login</div>
      </md-item-content>
    </md-item>
  </md-button>
  <md-button class="md-hue-3">
    <a href="/auth/google" class="unstyled">
      <md-item>
        <md-item-content md-ink-ripple layout="row" layout-align="left center">
          <div class="inset"><ng-md-icon icon="google-plus-box" style="fill: #fafafa"></ng-md-icon></div>
          <div class="inset">Login with Google</div>
        </md-item-content>
      </md-item>
    </a>
  </md-button>
  <md-button class="md-hue-3">
    <a href="/auth/facebook" class="unstyled">
      <md-item>
        <md-item-content md-ink-ripple layout="row" layout-align="left center">
          <div class="inset"><ng-md-icon icon="facebook-box" style="fill: #fafafa"></ng-md-icon></div>
          <div class="inset">Login with Facebook</div>
        </md-item-content>
      </md-item>
    </a>
  </md-button>


</md-dialog>
</div>
