#login-form {
  width: 60%;
  margin: 0 auto;
}

.unstyled {
   &, &:visited, &:hover, &:active {
      font-style: inherit;
      color: inherit;
      background-color: transparent;
      font-size: inherit;
      text-decoration: none;
      font-variant: inherit;
      font-weight: inherit;
      line-height: inherit;
      font-family: inherit;
   }
}