#settings {
   &span:focus {
      outline: none;
   }
}

.disconnect {
   color: rgb(96,125,139);
   background-color: rgb(255,255,255);
}

.connect {
   padding: 0px 15px;
}

.providerBox {
    border: 1px solid;
    border-color: #9E9E9E;
    padding: 2rem;
    text-align: center;
    max-width: 75%;
    height: 140px;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0 2px 5px #616161;
}

.accordion-toggle {
   &:focus, &:hover {
      outline: none;
      text-decoration: none;
   }
}