$gray: #CECECE;

#about-section {
    -webkit-animation: fadein 1s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s;
    /* Firefox < 16 */
    -ms-animation: fadein 1s;
    /* Internet Explorer */
    -o-animation: fadein 1s;
    /* Opera < 12.1 */
    animation: fadein 1s;
    color: #263238;
    hr {
        border-color: #ADADAD;
    }
    #about {
        h2 {
            margin: 100px 0 40px 0;
            text-align: center;
        }
        button {
            background-color: white;
            border: none;
            text-align: center;
            outline: none;
        }
        .about-container {
            height: 80vh;
            margin: auto;
            display: flex;
            flex-wrap: wrap;
            max-width: 850px;
            .one {
                margin-top: 100px;
                img {
                    float: left;
                    margin: 0 30px 30px 0;
                }
            }
            .two {
                margin-bottom: 100px;
                margin-top: 20px;
                img {
                    float: right;
                    margin: -10px 0 30px 30px;
                }
            }
            div {
                img {
                    width: 20vw;
                    min-width: 220px;
                    max-width: 320px;
                    cursor: pointer;
                }
                p {
                    text-align: left;
                    font-size: 12pt;
                }
            }
        }
        max-width: 1000px;
        margin: auto;
        padding-top: 50px;
        padding-bottom: 100px;
        width: 90%;
        .images-container {
            margin: auto;
            max-width: 850px;
            text-align: center;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .individual {
                margin: 20px 10px 60px 10px;
                .icons {
                    img {
                        background-color: #F3ED02;
                        margin: 10px;
                        width: 30px;
                        opacity: .5;
                        transition: all .2s ease-in-out;
                        &:hover {
                            opacity: .7;
                        }
                    }
                }
                max-width: 400px;
                p {
                    width: 80%;
                    margin: auto;
                }
                .grayscale {
                    -webkit-filter: grayscale(90%);
                    filter: grayscale(90%);
                    transition: all .2s ease-in-out;
                        box-shadow: 3px 3px 3px $gray;
                    &:hover {
                        -webkit-filter: grayscale(0);
                        filter: grayscale(0);
                        box-shadow: 1px 1px 1px $gray;
                    }
                }
                .faces {
                    div {
                        background-color: black
                    }
                    width: 250px;
                    margin: 10px;
                    border-radius: 100%;
                }
            }
        }
    }
}
