$gray: #eee;
$dark: #263238;
$light: #fff;
$medium: #78909C;
$accent: #FFEB3B;

#sessions {
    max-width: 1080px;
    margin: auto;
    .container {
        padding: 0, 20px;
    }
    .sm-container {
        max-width: 600px;
        margin: auto;
        padding: 30px 0 0 0;
    }
    h2 > a {
        color: $dark;
        font-weight: 70;
        &:hover {
            color: &gray;
            text-decoration: none;
        }
    }
    a {
        color: $medium;
        font-weight: 600;
        text-decoration: none;
    }
    md-list-item.md-2-line .md-list-item-text.date{
        margin-top: 25px
    }
}


