* {
  box-sizing: border-box;
  transform-origin: 0px 0px 0px;

}

body {
  background: #fdfdfd;
  height: 100vh
}

.rickshaw_graph .x_tick .title {
  opacity: 1 !important;
  position: relative !important;
  color: #646464;
  margin-top:10px;
}
.rickshaw_graph .y_ticks text {
  opacity: 1 !important;
  position: relative !important;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  padding-top: 60px;
  margin: 0 auto;
}

@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';

@import 'home/visualize';
@import 'home/vizTables';